__pycache__/
build/
*.spec
*.exe
*.zip
persist_dictionary.json
*.xlsx
*_tekshirish.txt
check_report.txt
check_list1.txt
error_log.txt
icon_preview.png
.telemetry_key.txt
telemetry/.wrangler/
node_modules/
